logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/

dist/
dist-ssr/
build/

.env
.env.*

*.local
.cache/
vite.config.ts.timestamp*
tsconfig.tsbuildinfo

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

coverage/

*.tsbuildinfo

*.pid
*.seed
*.pid.lock
